html {
  font-family: Verdana;
}

h1 {
  color: #fff;
  font-family: Georgia;
  text-shadow: 2px 2px #000;
}

a {
  color: #000;
}

@media only screen and (min-width: 60em) {

  html {
    background-image: url("../images/sloth-bg.svg");
    background-repeat: repeat;
    background-color: #bea586;
    background-size: 48px;
  }

  body {
    background-color: #fff;
  }

}
