html {
  font-family: Verdana;
}

.banner {
  background-image: url("../images/banner.jpg");
}

h1 {
  color: #fff;
  font-family: Georgia;
  text-shadow: 2px 2px #000;
}

img {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding-top: 2px;
  padding-bottom: 2px;
}

a {
  color: #000;
}

@media only screen and (min-width: 60em) {

  html {
    background-image: url("../images/sloth-bg.svg");
    background-repeat: repeat;
    background-color: #bea586;
    background-size: 48px;
  }

  body {
    background-color: #fff;
  }

}
